@import "text";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  scrollbar-color: #dbdbdb transparent;
}

ul,
ol {
  list-style: none;
}

a,
li {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
